body {
  background: #d3d3d3;
}

.drawing-board {
  position: relative;
}

.drawing-board > canvas {
  border: 1px dashed;
  margin: auto;
}

#shapes * {
  background-color: aquamarine;
}
#rectangular {
  background-color: rgb(0, 204, 102);
}
